:root {
  background-color: var(light);
}

#Haupt-Seite{
  height: 100vh;
  background-image:
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Manufacturing Consent';
  src: url('./fonts/ManufacturingConsent-Regular.ttf');
}

.manufacturing-consent{
  font-family: 'Manufacturing Consent';
}

.Hero-Text {
  font-size: 4.5rem;
}

.Carousel-Image{
  width: 100%;
  height: 45vh;
  background-size: cover;
  background-position: center;
}

@media (min-width: 600px) {
  .Carousel-Image{
    height: 60vh;
  }
}

.Reservierung-Legende{
  background-color: rgb(228, 220, 220);
}

.circle{
  width: 15px;
  height: 15px;
}

.Table{
  width: clamp(2rem,4.5vw,5rem);
  height: clamp(2rem,4.5vw,5rem);
}

.Table-Large{
  width: clamp(5.5rem,9vw,10rem);
  height: clamp(2rem,4.5vw,5rem);
}

@media (min-width: 800px)
{
  .Table-Large{
    width: clamp(9.5rem,17.5vw,20rem);
  }
}
