:root {
  background-color: #242424;
}

#Haupt-Seite{
  height: 100vh;
  background-image:
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Manufacturing Consent';
  src: url('./fonts/ManufacturingConsent-Regular.ttf');
}

.manufacturing-consent{
  font-family: 'Manufacturing Consent';
}

.Hero-Text {
  font-size: 4.5rem;
}


